@import url('https://fonts.google.com/share?selection.family=Aleo%7CJosefin%20Sans:wght@300;400;700');
@import 'vars';



* {
    padding: 0;
    box-sizing: border-box;
}
/*
ul,
ol,
dl {
    padding-left: 0;
    margin: 0 0;
}

*/
html,
body {
    font-size: 16px;
    color: #fff;
    margin: 0;
    min-height: 150vh;
    font-family: 'Josefin Sans';
    overflow-x: hidden; 
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

// .d-flex {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// Беремо ширину контенту на макті і ділимо навпіл
.nav,
.banner,
.section_1,
.section_2,
.section_3,
.section_4,
.section_5{                      
    padding: 0 calc(50vw - $half_width_content);

    @media screen and (max-width:1400px) {
        padding: 0 calc(50vw - calc($half_width_content - 180px));
    }

    @media screen and (max-width:1024px) {
        padding: 0 calc(50vw - 420px);
    }

    @media screen and (max-width:768px) {
        padding: 0 20px;
    }

}

.header {
    min-height: 100vh;
   /* position: relative; */
}

.banner {
    position: relative;
    height: calc(100vh - 90px);
    background: url('../assets/img/banner_background.png') no-repeat;
    background-size: cover;
    background-position-x: 28%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 33vh;

    @media screen and (max-width: 576px) {
        padding-top: 23vh;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 16px 24px;

    font-family: 'Aleo';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.1em;

    color: #fff;
    text-transform: uppercase;
    border: none;

    &_one-color {
        background: #5373FD;
    }
}

.content {
    
    text-align: center;

    &__title {
        margin: 0 0 15px 0;

        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
    }

    &__sub-title {
        margin: 0 0 50px 0;

        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.355rem;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0.31em;
    }
}

.search {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;

    padding: 4px;
    background: #fff;

    @media screen and (max-width: 576px) {
        background: transparent;
        justify-content: center;
        padding: 0 14px;
    }

    &__input {
        border: none;
        display: inline-block;
        height: 100%;
        background: #fff;
        min-width: 200px;

        padding: 10px 10px 10px 30px;
        min-width: 420px;
        min-height: 52px;

        font-style: normal;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.15;
        letter-spacing: 0.2em;
        color: #999999;

        @media screen and (max-width: 576px) {
            min-width: 280px;
            width: 100%;
        }

        &:focus-visible {
            outline: none;
        }
    }

}

.scroll {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 576px) {
        bottom: 5%;
    }
    &__text {
        font-size: 14px;
        font-family: Josefin Sans;
        line-height: 20px;
        letter-spacing: 2.8px;
    }

    &::after {
        content: '';
        background: url('../assets/img/arrow_down.svg');
        position: absolute;
        bottom: -11%;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 14px;
        height: 16px;

    }
}

// --------------------------- Nav Block -----------------------

.nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;
    background: #5373FD;
    
        @media screen and (max-width: 820px) {
            order: 2;
           // margin-left: 20px;
        }
        @media screen and (max-width: 576px) {
            flex-direction: row-reverse;
            position: relative;
        }
    

}



.logo {
    @media screen and (max-width: 576px){
        padding-bottom: 5vh;} 
    @media screen and (max-width: 768px){
        padding-bottom: 5vh; } 
    @media screen and (max-width: 1024px){
        padding-bottom: 5vh;}
    @media screen and (max-width: 1360px){
        padding-bottom: 5vh;}
    
    &__link {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.1;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
      
    }
}



    .menu {
        list-style: none;
        display: flex;
        gap: 40px;
       
    
        @media screen and (max-width: 576px) {
            position: absolute;
            right: 0;
            top: 16vh;
            width: 100vw;
            flex-direction: column;
            z-index: 2;
            background: #5373FD;
            visibility: hidden;
            opacity: 0;
            padding: 0 0;
            gap: 0;
         }
        @media screen and (max-width: 768px) {

        }
    &__item {
        @media screen and (max-width: 820px) {
            padding: 10px 0;
            text-align: center;
            //border: 1px solid #fff;
        }
    }

    &__link {
        font-family: 'Aleo';
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.2;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #fff;
        text-decoration: none;
    }
}


.burger {
    display: none;

    @media screen and (max-width: 820px) {
        &:checked~.menu {
            visibility: visible;
            opacity: 2;
        }

        &:checked ~ .burger-img {
            transform: rotate(-45deg);

            &::before{
               transform: rotate(90deg); 
               top: 0;
            }


            &::after {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.burger-img {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 576px) {
        position: relative;
        top: -5px;
        left: 48px;
        display: inline-block;
        width: 34px;
        height: 2px;
        background: #fff;
        vertical-align: middle;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 2px;
            background: #fff;
            top: 10px;
            
        }

        &::after {
            top: -10px;
            
         
        }

        
    }
}



// ------------------------ Main Block -----------

.section_1,
/*.section_2,*/
.section_3,
.section_4,
.section_5 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
}





.section_1,
{
    position: relative;
   /* height: calc(100vh - 90px); */
    background: url(../assets/img/Section_2/WhyBackground/1360.png) no-repeat; 
    background-size: cover;
    background-position-y: 28%;
    display: flex;
    /*flex-direction: column; */
    flex-direction: row-reverse; 
    align-items: center;
    
   /* justify-content: space-between; */
    padding-top: 3vh; 
    @media screen and (max-width: 768px) {
        flex-direction: column;
       
    }
   
}

.container_1_flex{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 121px;
    flex-direction: row;

    @media screen and (max-width:1024px) {
        gap: 24px;
    }
    
    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        text-align: center;
    }
}   

.images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    position: relative;
    align-items: center;

    @media screen and (max-width: 576px) {

    }

    @media screen and (max-width: 768px) {
       flex-direction: row-reverse; 
    }
    @media screen and (max-width: 1024px) {
       /* position: static; */
    }
    @media screen and (max-width: 1360px) {
        
    }


}
.image1 {
   
    padding-bottom: 16px;
    
    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        text-align: center;
    }

    @media screen and (max-width:768px) {
        width: 348px;
        height: 219px;
        padding-bottom: 0px;
    }

    @media screen and (max-width:576px) {
        width: 258px;
        height: 162px;
    }
}

.image2{
   
    padding-left: 111px;

    @media screen and (max-width:1024px) {
        padding-left: 36px;
    }

    @media screen and (max-width:768px) {
        padding-left: 0px;
        width: 348px;
        height: 219px;
    }
    @media screen and (max-width:576px) {
            width: 258px;
            height: 162px;
        }
    }

.section__title { 
    font-size: 36px;
    font-family: 'Aleo', serif;
    line-height: 40px;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 20px;
}
.section_2{
    position: relative;
    display: flex;
    background-color: #333333;
    justify-content: space-around;

    &::before {
        content: url(../assets/img/line.svg);
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 1024px) {
            content: url(../assets/img/Line.png);
        }

        @media screen and (max-width: 768px) {
            content: none;
        }
    }
}

.flex_container {
    position: relative;
    display: flex;
    gap: 209px;
    padding-top: 138px;
    @media screen and (max-width: 1024px) {
        gap: 88px;
    }
    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 60px;
    }
}

.line_icon_step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 222px;

    @media screen and (max-width: 1024px) {
        width: 234px;
    }
}

.icon_text {
    font-size: 36px;
    font-family: Aleo;
    line-height: 40px;
    text-transform: capitalize;
}

.steps_icon_search {
    fill: #5373FD;
}
.steps_icon_check{
    fill: #FF6363;
}
.steps_icon_thumb {
    fill: #00A2FF;
}

.section_3{
    position: relative;
    height: calc(100vh - 90px);
    background: url(../assets/img/Section_4/1024.png)no-repeat;
    background-size: cover;   
    background-position-y: 28%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 16vh;
@media screen and (max-width: 576px) {
background: url(../assets/img/Section_4/576.png);
}

@media screen and (max-width: 768px) {
 background: url(../assets/img/Section_4/768.png); 
}
@media screen and (max-width: 1024px) {
   background: url(../assets/img/Section_4/1024.png);
}
@media screen and (max-width: 1360px) {
    
}
} 
.section_4{
    position: relative;
    height: calc(100vh - 90px);
    background: url(../assets/img/Section_5/1360.png)no-repeat;
    background-size: cover;
    background-position-y: 28%;
    display: flex;
    align-items: center;
    padding-top: 16vh;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media screen and (max-width: 576px) {
        background: url(../assets/img/Section_5/576.png);
        }
        
        @media screen and (max-width: 768px) {
         background: url(../assets/img/Section_5/768.png); 
        }
        @media screen and (max-width: 1024px) {
           background: url(../assets/img/Section_5/1024.png);
        }
        @media screen and (max-width: 1360px) {
            
        }
}
.section_5{
    position: relative;
    height: calc(100vh - 90px);
    background: url(../assets/img/Section_6/BG/BG_1360.png) no-repeat; 
    background-size: cover;
    background-position-y: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;
    padding-top: 3vh; */
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    @media screen and (max-width: 576px) {
        background: url(../assets/img/Section_6/BG/BG_576.png)no-repeat ;
        }
        
        @media screen and (max-width: 768px) {
         background: url(../assets/img/Section_6/BG/BG_768.png)no-repeat; 
        }
        @media screen and (max-width: 1024px) {
           background: url(../assets/img/Section_6/BG/BG_576.png)no-repeat;
        }
        @media screen and (max-width: 1360px) {
            background: url(../assets/img/Section_6/BG/BG_1360.png)no-repeat; 
        }
}
/*
.flex_container_5{
    display: flex;
    align-items: center;
    padding-top: 60px;

    @media screen and (max-width:1024px) { 
        padding-top: 0px;
    }

    @media screen and (max-width:768px) {
        flex-direction: column; 
        padding-top: 0px;
    }
}
*/

.card{
position: absolute;
width: 558px;
height: 372px;
/*left: calc(50% - 558px/2 - 291px); */
/*top: 220px; */
background-color: rgba(35, 35, 35, 0.9);
opacity: 0.9;
padding-left: 32px;
padding-right: 32px;
&__subtitle,
&__title,
&__text
{
   font-family: 'Josefin Sans', sans-serif;
   font-size: 20px;
   font-weight: 300;
   line-height: 28px;
   letter-spacing: 0.1em;

}
&__title{
    font-weight: 400;
}
&__text{
font-size: 16px;
}
&__button{
    background: #486BFE;

}
}


/*
.section_5 {
    position: relative;
    background: url('../assets/img/Section_6/BG/BG_1360.png') no-repeat;
    background-size: cover;
    background-position-y: 28%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        height: 100vh;
    }
}
*/

.review {
    display: flex;
    align-items: center;
    padding-top: 60px;

    @media screen and (max-width:1024px) { 
        padding-top: 0px;
    }

    @media screen and (max-width:768px) {
        flex-direction: column; 
        padding-top: 0px;
    }
}

.review_photo {
    width: 380px;
    height: 308px;
    background: url('../assets/img/Section_6/IMG/1360.png') no-repeat;
    background-position: center center;
    background-size: cover;

    @media screen and (max-width: 1024px) {
        display: flex;
        width: 320px;
        height: 336px;
        background: url('../assets/img/Section_6/IMG/1024.png') no-repeat;
    }

    @media screen and (max-width: 768px) {
        width: 720px;
        height: 336px;
        background: url('../assets/img/Section_6/IMG/768.png') no-repeat;
    }

    @media screen and (max-width: 578px) {
        width: 540px;
        height: 336px;
        background: url('../assets/img/Section_6/IMG/576.png') no-repeat;
    }
}

    

.review__text {
    display: flex;
    width: 760px;
    height: 308px;
    flex-direction: column;
    background: #333333;
    padding-top: 48px;
    padding-left: 60px;
    padding-right: 60px;
  
    @media screen and (max-width: 1024px) {
        width: 640px;
        height: 336px; 
    }

    @media screen and (max-width: 768px) {
       width: 720px;
        height: 308px; 
    }

    @media screen and (max-width: 578px) {
        width: 540px;
        height: 364px; 
    }
}
 
.quote_left {
    fill: #5373FD;
}





.footer{
    position: relative;
   /* height: calc(100vh - 90px); */
    background-color: #000; 
    background-size: cover;
    background-position-y: 28%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;  
}  
.footer_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    padding-top: 60px;
}

.title_smaller {
    font-size: 28px;
}

.sub-title_smaller {
    font-size: 14px;
    margin: 0 0;
}

.social {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;

}
.social_link{
    fill: #fff 
}

.social_link:hover {
    fill: #5373FD;
  }

  